<!--
 * Content is enclosed in <div id="app-content-wrapper"><div id="app-screen"></div></div>
 * Subhead: is added by add-custom-data.php in the theme's php folder / It expects that the post has a subhead custom field
 * Handler for image loading error: displayDefaultImage() added in functions.js as a template's parameter
-->

<script>
$(document).ready(function () {
 
  $(".spazioo").click(function(){
	 $('.search-container').css({
		 "display": "none"
		  
	    
	  });
	  $(".spazioo").removeClass('active');
	 


	});
 
 
 
 
 
 	$('#class-search,#refresh-button').css({
		 "display": "block"    
	  });
 
 
 

 

	});
</script>


<div style="z-index:9999;position: relative;" class="search-container">
    <form id="search-form">
            <input value="<%= current_search.search_string %>" id="search-field" class="search-field" type="search" /><button id="search-button" class="search-button">Cerca</button>
    </form>
</div>
<div class="spazioo"></div>
<h1 style="margin-right:10px;"> <%= list_title %> (<%= total %>)</h1>
<% if( posts.length ){ %>
      <ul style="padding:0;" id="default">
            <% _.each( posts, function( post ){ %>
                  <% var nb_comments = post.nb_comments %>
                  <li style="margin-bottom:10px;" class="col-xs-6">
				  
				  <% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
						 <a href="<%= TemplateTags.getPostLink(post.id) %>"><div class="icon-comment"><%= nb_comments %></div><img class="media-object pull-left" style="width: 100%; height: auto; margin-bottom:5px;margin-top: -17px;" src="<%= post.thumbnail.src %>"></a>
					<% } %>	
					
                        <h2 style="padding:0;margin:0;">
                              <a href="<%= TemplateTags.getPostLink(post.id) %>"><%= post.title %></a>
                              
                        </h2>
                    
                        <span style="color:#777;font-size:12px;font-weight:600;"><span class="fa fa-calendar">
               </span>&nbsp;<%= TemplateTags.formatDate(post.date,'d/m/Y') %></span>
						    <p style="margin:0;font-style:italic;font-size:13px;"><%= post.excerpt %></p>
                  </li>
            <% }); %>
      </ul>
<% }else{ %>
      <p>No post found!</p>
<% } %>


  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>