<script>
$(document).ready(function () {
 
 
 
 
  $(".spazioo").click(function(){
	 $('.search-container').css({
		 "display": "none"
		  
	    
	  });
	  $(".spazioo").removeClass('active');


	});
 
 
 

 

	});
</script>


<div style="z-index:9999;position: relative;" class="search-container">
    <form id="search-form">
            <input value="<%= current_search.search_string %>" id="search-field" class="search-field" type="search" /><button id="search-button" class="search-button">Search</button>
    </form>
</div>
<div class="spazioo"></div>
<h1> <%= list_title %> ( <%= total %>)</h1>
<% if( posts.length ){ %>
      <ul style="padding:0;">
            <% _.each( posts, function( post ){ %>
                  <% var nb_comments = post.nb_comments %>
                  <li style="margin-bottom:10px;">
				  
				  <% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
						 <a href="<%= TemplateTags.getPostLink(post.id) %>"><img class="media-object pull-left" style="width: 100px; height: auto; margin-right:5px;" src="<%= post.thumbnail.src %>"></a>
					<% } %>	
					
                        <h2 style="padding:0;margin:0;">
                              <a href="<%= TemplateTags.getPostLink(post.id) %>"><%= post.title %></a>
                              
                        </h2>
                        <p style="margin:0;font-style:italic;"><%= post.excerpt %></p>
                        <span style="color:#777;"><small><%= TemplateTags.formatDate(post.date,'d/m/Y') %>&nbsp;-&nbsp;<%= nb_comments %> comment<% nb_comments > 1 ? print('s') : '' %></small></span>
                  </li>
            <% }); %>
      </ul>
<% }else{ %>
      <p>No post found!</p>
<% } %>



  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>