
<script>
$(document).ready(function () {
 
 
 
 
  $(".spazioo").click(function(){
	 $('.search-container').css({
		 "display": "none"
		  
	    
	  });
	  $(".spazioo").removeClass('active');


	});
 
 
 

 

	});
</script>



<div class="spazioo"></div>

<div style="width:100%;margin-bottom:20px;border-bottom: 1px solid #DDD;font-size: 14px;color: #666;background-color:#4285F4;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2), 0 0 15px 0 rgba(0, 0, 0, .3)!important;">
<div style="float:left;" class="container-fluid">
<h1 style="border:0;color:white;font-weight:500;opacity:0.8;"> <%= list_title %> </h1></div> <div style="float:right;" class="container-fluid"><h1 style="border:0;color:white;font-weight:500;opacity:0.8;"> (<%= total %>) </h1></div><div class="clearfix"></div></div>


<div style="z-index:9999;position: relative;" class="search-container">
    <form id="search-form">
            <input value="<%= current_search.search_string %>" id="search-field" class="search-field" type="search" /><button id="search-button" class="search-button btn-gradient">Cerca</button>
    </form>
</div>


<% if( posts.length ){ %>
      <ul style="padding:0;">
            <% _.each( posts, function( post ){ %>
                  <% var nb_comments = post.nb_comments %>
				  
				  
				  
                  <li style="margin-bottom:20px;background-color:white;">
				  <div class="container-fluid">
				  <table class=""><tr><th style="padding-right:5px;padding-top:5px;">
				  <% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
						 <a href="<%= TemplateTags.getPostLink(post.id) %>"><div class="icon-comment"><%= nb_comments %></div><img class="media-object" style="border-radius: 5px;width: 100px; height: auto;margin-top: -17px;z-index: 1034;" src="<%= post.thumbnail.src %>"></a>
					<% } %>	
					  <span style="color:#777;font-size:12px;font-weight:600;"><span class="fa fa-calendar">
               </span>&nbsp;<%= TemplateTags.formatDate(post.date,'d/m/Y') %></span>
					</th>
					<th style="padding-left:5px;padding-top:8px;padding-right:10px;" class="angolo">
                        <h2 style="padding:0;margin:0;">
                              <a href="<%= TemplateTags.getPostLink(post.id) %>"><%= post.title %></a>                        
                        </h2>
						<p style="margin:0;font-style:italic;font-size:13px;"><%= post.excerpt %></p>
						
						

</th>
</tr>
</table>           				 
				 
				 
				</div>     
				 </li>
		 
            <% }); %>
      </ul>
<% }else{ %>
      <p>No post found!</p>
<% } %>


  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>






































































