<script>
$(document).ready(function () {
 
  $("#face-1").click(function(){
	 $("#sticker").css({
		 "display": "block"
		  
	    
	  });
$(".spazioo").addClass('active');

	});
 
 $(".spazioo").click(function(){
	 $('#sticker').css({
		 "display": "none"
		  
	    
	  });
	  $(".spazioo").removeClass('active');


	});
	});
 
 
</script>

<div id="chat-page">
	<h1 style="padding-bottom:0;margin-bottom:5px;border:0;float:left;">Messenger - </h1> <p id="presence"> </p>
	<div class="clearfix"></div>
<section id="main" role="main" style="padding-top:15px;border-top:1px solid #999;">
<div style="background-color:white;padding:5px;margin-bottom:30px;border-radius:5px;border:1px solid #999">
		<div id="chat">
			<input type="hidden" id="avatar" value="<%= user.gravatar_image_link %>"><input type="hidden" id="nome" value="<%= user.login %>">
			<i id="face-1" class="face-1"><span style="vertical-align: middle;padding-right: 5px;" class="fa fa-smile-o"></span></i><input style="width:82%;float:left;border:0;background-color:transparent;" type="text" id="input" placeholder="Type your message...">
		</div>
		<button class="invia" id="button"><span style="font-size:24px;" class="fa fa-chevron-circle-right"></span></button>
		</div>
 		
		<div style="z-index:9999;" id="sticker" class="cont-sticker">	
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/angel.gif');background-size:35px;" class="sticker bp"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/angel.gif"></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/angry.gif');" class="sticker bp"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/angry.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/applauso.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/applauso.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/bye.gif');" class="sticker bp"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/bye.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/caldo.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/caldo.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/freddo.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/freddo.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/happy.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/happy.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/kiss.gif');background-size: 35px;" class="sticker bp"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/kiss.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/lingua.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/lingua.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/love.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/love.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/rido.gif');" class="sticker"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/rido.gif" ></div>
			<div style="background-image:url('<%= TemplateTags.getThemePath() %>/img/emoticon/triste.gif');background-size:35px;" class="sticker bp"><input type="checkbox" name="interesse" id="interesse" value="<%= TemplateTags.getThemePath() %>/img/emoticon/triste.gif" ></div>
			
			</div>
		
		<div id="output"></div>
		
		
		<div class="spazioo"></div>
		 
		<img class="pull-left pic" src="<%= user.gravatar_image_link %>"><h2 class="m0"><%= user.login %></h2><p>BENVENUTO<p>
		
		
		
	</section>
</div>


<script>


function remove_el(image) {
    image.onerror = "";
    image.src = "http://webworl.altervista.org/blog/wp-content/uploads/2016/09/default.png";
    return true; 
}






(function() {
	
	

    var output = PUBNUB.$('output'), 
        input = PUBNUB.$('input'), 
        button = PUBNUB.$('button'),
        avatar = PUBNUB.$('avatar'),
        presence = PUBNUB.$('presence'),
		nome = PUBNUB.$('nome'),
		user = PUBNUB.$('interesse');
		
		
	
		
		

    var channel = 'mchat';
	
    var p = PUBNUB.init({
        subscribe_key: 'sub-c-d02c7896-6399-11e6-8de8-02ee2ddab7fe',
        publish_key:   'pub-c-9217d596-d001-46c7-92f2-02e142fc5b60'
    });

	
	
	
	
	p.history({
        channel  : channel,
        count    : 50,
        callback : function(messages) {
            p.each( messages[0], function(m){
              output.innerHTML = '<img class="pull-left pic" src="'+ m.avatar +'"><h2 class="m0 fs15">'+ m.nome +'</h2><p><span>' +  m.text.replace( /[<>]/ig, '' ) + '</span></p><img class="mb15" src="'+ m.user +'" onError="remove_el(this);"><div class="clearfix"></div>' + output.innerHTML; 
           

            } );
        }
    });
	
	
	
	
	
	
    p.subscribe({
        channel  : channel,
		
        callback : function(m) { 
            output.innerHTML = '<img class="pull-left pic" src="'+ m.avatar +'"><h2 class="m0 fs15">'+ m.nome +'</h2><p><span>' +  m.text.replace( /[<>]/ig, '' ) + '</span></p><img class="mb15" src="'+ m.user +'" onError="remove_el(this);"><div class="clearfix"></div>' + output.innerHTML; 
        },
        presence: function(m){
            if(m.occupancy > 1) {
                presence.textContent = m.occupancy + ' persone online';
            } else {
                presence.textContent = 'Solo tu sei online';
            }
        }
    });

    p.bind('keyup', input, function(e) {
        (e.keyCode || e.charCode) === 13 && publish()
    });

    p.bind('click', button, publish);

    function publish() {
        p.publish({
            channel : channel,
            			
            message : {avatar: avatar.value, nome: nome.value, user: $('#interesse:checked').val(), text: input.value}, 
            x : (input.value='')
        });
    }


})();


</script>