<div id="post-comments-list">
<h1>Commenti</h1>
    <ol style="padding:0px 0 20px;margin-bottom:0;" class="breadcrumb">
        <li style="color:#777;">Articolo: <a href="<%= TemplateTags.getPostLink(post.id) %>"><%= post.title %></a></li>
    </ol>
    <% if(comments.length){ %>
        <ul class="media-list">
            <% _.each( comments, function( comment ){ %>
                <li class="media" style="padding-left:<% print((comment.depth)*20) %>px">
                    <div class="media-body">
					<img style="float:left; width:35px; height:35px; border-radius:35px; margin-right:5px;" src="<%= comment.gravatar_image_link %>">
                        <h4 style="margin-bottom:0;" class="media-heading"><%= comment.author %>&nbsp;<small> <%= TemplateTags.formatDate(comment.date,'d/m/Y') %></small></h4>
                        <p><%= comment.content %></p>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% }else{ %>
            <span id="icon-com" class="fa fa-pencil"></span> <p style="margin-bottom:20px;"> Nessun commento trovato. <br> Esprimi per primo la tua opinione!</p>
    <% } %>
    <form id="comment-form">
        <div class="form-group">
            <label for="comment-content">Aggiungi un commento :</label> 
            <textarea name="content" cols="45" rows="8" class="form-control" ></textarea>
        </div>
        <input type="hidden" name="post" value="<%= post.id %>" >
        <button type="submit" class="btn btn-info">Invia commento</button>
    </form>
</div>







  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>