


<div id="single" id="user-page">
	
	<div id="single-content">
	
	
	 <div class="col-md-6 col-md-offset-3">
            <div style="margin-top:25px;" class="card">
                <div class="card-image">
                    <img width="" class="img-responsive" src="<%= user.gravatar_image_link %>">
                    <span class="card-title"><%= user.login %></span>
                </div>
                
                <div class="card-content">
                    <p><%= user.role %> <br> Puoi cambiare la tua foto su <a href="#" onClick="window.open('https://en.gravatar.com/','_system','location=yes');return false;">Gravatar</a></p>
                </div>
                
                <div class="card-action">
                 <button type="button" class="btn btn-danger" id="logout">Log out</button>
                   
                </div>
            </div>
        </div>
	
	
	
	
	
	
	
	
	
           
			
			
 
			
	</div>
</div>



  <div class="cerchio"><a href="#chat"><span style="color:white;" class="fa fa-comments-o fs22"></span></a></div>







 